<script setup>
import httpRequest from "@/helpers/axios";
import { storeToRefs } from "pinia";
import { onMounted, reactive, watch } from "vue";

import { stateHomeStore } from "../stores/home.state";

const { search } = storeToRefs(stateHomeStore());

const state = reactive({
  data: [],
  ori: [],
  loading: false,
  setData(data) {
    this.data = data;
  },
});
const props = defineProps({
  msg: {
    type: String,
    required: true,
  },
  state: {
    type: Object,
    required: true,
  },
});

onMounted(async () => {
  let data = await httpRequest.get(
    "https://jsonplaceholder.typicode.com/posts"
  );
  state.setData(data.data);
  state.ori = data.data;
});

watch(search, (search) => {
  if (search !== "") {
    state.setData(
      state.ori.filter((el) =>
        JSON.stringify(el).includes(search)
      )
    );
  } else {
    state.data = state.ori;
  }
});
</script>

<template>
  <div class="about">
    <div class="box">
      <div
        v-for="(item, index) in state.data"
        v-bind:key="index"
      >
        <div class="box-child">
          <h3>
            {{ item.title }}
          </h3>
          <div>
            {{ item.body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .box-child {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: white;
    color: #000;
  }
  .box-child h3 {
    font-weight: 800;
    margin-bottom: 20px;
  }
  .box {
    width: 100%;
    padding: 50px 10px;
    height: 100vh;
    overflow-y: auto;
  }
  .box::-webkit-scrollbar {
    display: none;
  }
  .about {
    min-height: 100vh;
    display: block;
    align-items: center;
  }
}
</style>
