<script setup>
const props = defineProps({
  msg: {
    type: String,
    required: true,
  },
  state: {
    type: Object,
    required: true,
  },
  onChange: {
    type: Function,
    required: true,
  },
});
</script>

<template>
  <div class="greetings">
    <div v-if="props.state.path === '/data'">
      <input
        type="text"
        v-debounce:300="props.onChange"
        placeholder="search"
      />
    </div>
    <div v-else>
      <h1 class="green">{{ msg }}</h1>
    </div>
    <h3>
      You’ve successfully created a project with
      <a
        href="https://vitejs.dev/"
        target="_blank"
        rel="noopener"
        >Vite</a
      >
      +
      <a
        href="https://vuejs.org/"
        target="_blank"
        rel="noopener"
        >Vue 3</a
      >.
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
</style>
